# Ignore object files
*.o

# Ignore object files in the hidden directory
.obj/

# Ignore the executable
matrix_calc

# Ignore build directories if any
build/

# Ignore .cache directories if any
.cache/

